h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    width: 30ch;
}